body {
  padding: 16px !important;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  width: 100%;
  height: 100%;
}

.image {
  background-color: #878d8f;
  background-size: cover;
  background-position: 50% 50%;
  transition: opacity 0.2s ease-in-out;
}

.image:hover {
  transition: opacity 0.2s ease-in-out;
  opacity: 0.8;
}

.image-full {
  display: block;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: opacity 0.2s ease-in-out;
}

.main {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.row-1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.row-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.row-3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.beach {
  background-image: url(./beach.jpg);
}

.boat {
  background-image: url(./boat.jpg);
}

.benches {
  background-image: url(./benches.jpg);
}

.bball {
  background-image: url(./bball.jpg);
}
